app:
  name: go-maxms
  version: 0.1
  domain: liuzhaomax.cn
  enabled:
    rsa: false # rsa和vault有关联关系
    vault: true
    signature: true # signature默认依赖于redis
    random_port: true
    service_discovery: true
  white_list:
    -
      name: frontend
      domain: http://172.16.96.98:9100

lib:
  log:
    level: debug # trace << debug << info << warn << error << fatal << panic
    format: json # text json
    color: false
    file_path: ./log
    file_name: app.log
  vault:
    address: https://vault.liuzhaomax.cn
  gin:
    run_mode: debug # debug test release
  db:
    type: mysql
    debug: true
    max_life_time: 8192
    max_open_conns: 100000
    max_idle_conns: 1000
    name: go_maxms
    params: charset=utf8mb4&parseTime=True&loc=Local
    username: root
    password: 123456
    endpoint:
      host: 172.16.96.98
      port: 3306
  redis:
    endpoint:
      host: 172.16.96.98
      port: 6379
  etcd:
    dial_timeout: 5
    dial_keep_alive_time: 5
    dial_keep_alive_timeout: 5
    endpoint:
      host: 172.16.96.97
      port: 2379
  consul:
    timeout: 3
    interval: 30
    deregister_after: 5
    endpoint:
      host: 172.16.96.97
      port: 8500
  jaeger:
    endpoint:
      host: 172.16.96.97
      port: 6831
  rocketmq:
    timeout: 3
    retry: 2
    endpoint:
      host: 106.15.94.179
      port: 9876

server:
  protocol: http
  host: 172.16.96.98
  port: 9999
  base_url: /
  read_timeout: 5 # seconds
  write_timeout: 10
  idle_timeout: 15
  shutdown_timeout: 10

downstreams:
  - name: go-maxms-be
    endpoint:
      host: 172.16.96.98
      port: 9801

